body {
  margin: 50px;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://i.imgur.com/p1RBjra.jpg");
  color: red;
}


 .welcome {
  display: flex;
  justify-content: center;
}

.list {
  justify-content: center;
  float: center;
}

.username {
  color: black;
}

.newuser {
  color: black;
}

