body {
  margin: 50px;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://i.imgur.com/p1RBjra.jpg");
  color: white;
}

.tabs {
  display: flex;
  justify-content: center;
}

 .welcome {
  display: flex;
  justify-content: center;
}

